{% extends "TwoBulbPasteBundle::layout.html.twig" %}

{% block title %}List Pastes - Dustbin{% endblock %}

{% block content %}
  {% for paste in pastes %}
    * <a href="{{ path('twobulb_paste_paste_get', {'id': paste.id}) }}">paste {{ paste.id }}</a><br/>
  {% else %}
    No pastes found. You can <a href="{{ path('twobulb_paste_paste_new') }}">create a new paste</a>.
  {% endfor %}
{% endblock %}
