{% extends "TwoBulbPasteBundle::layout.html.twig" %}

{% block title %}List Pastes - Dustbin{% endblock %}

{% block content %}
  <ul>
  {% for paste in pastes %}
    <li><a href="{{ path('twobulb_paste_paste_get', {'id': paste.id}) }}">paste {{ paste.id }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
